<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ingrese Producto</h1>
    <form action="productos" method="post">
      <p>
        Nombre:
        <input type="text" name="name" placeholder="nombre..." id="name" />
      </p>
      <p>Precio: <input type="text" name="price" placeholder="precio..." /></p>
      <p>
        Foto URL: <input type="text" name="thumbnail" placeholder="foto..." />
      </p>
      <p><input type="submit" name="Enviar" id="" /></p>
    </form>
  </body>
</html>
